@font-face {
  src: url(../fontes/FiraSans-Bold.ttf);
  font-family: 'FiraSans-Bold';    
  font-weight: normal;
}

@font-face {
  src: url(../fontes/FiraSans-Regular.ttf);
  font-family: 'FiraSans-Regular';
  font-weight: normal;
} 

body {
  font-family:FiraSans-Regular, Arial, Helvetica, sans-serif;
  margin: 0px;
  color: #141414;
}

h1, h2, h3, p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  /*height uasr quando coloca as as medidas no meta*/
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}